<html>
    <head>
        <title>Todo App</title>
        <style>
            #error {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }
            li {
                clear: both;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class="lists-wrapper">
            <form action="/lists/create", method="post" id="lists-form">
                <input type="text" name="name" id="name" />
                <input type="submit" value="Create" />
            </form>
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <input class="list-check-completed" data-id="{{ list.id }}" type="checkbox" 
                        {%if list.completed %} checked {% endif %}
                    />
                    <a href="/list/{{ list.id }}">{{ list.name }}</a>
                    <button class="delete-list" data-id="{{ list.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="error" class="hidden">Something went wrong!</div>
        <div class="todos-wrapper">
            <h4> {{ active_list.name }}</h4>
            <form action="/todos/create", method="post" id="todos-form"> 
                <input type="text" name="description" id="description"/>
                <input type="submit" value="Create" />
            </form>
            <ul id="todos">
                {% for todo in todos %}
                <li>
                    <input class="todo-check-completed" data-id="{{ todo.id }}" type="checkbox" 
                        {%if todo.completed %} checked {% endif %} />
                        {{ todo.description }}
                    <button class="delete-todo" data-id="{{ todo.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script>
            const crossbuttons = document.querySelectorAll('.delete-todo');
            for (i = 0; i < crossbuttons.length; i++) {
                const crossbutton = crossbuttons[i];
                crossbutton.onclick = function(e) {
                    console.log('event', e);
                    const todoid = e.target.dataset["id"];
                    // debugger;
                    fetch('/todos/' + todoid, {
                        method: 'DELETE'
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    })
                }
            }
            const listCheckboxes = document.querySelectorAll('.list-check-completed');
            for (i = 0; i < listCheckboxes.length; i++) {
                const checkbox = listCheckboxes[i];
                checkbox.onchange = function(e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const listid = e.target.dataset["id"];
                    fetch('/lists/' + listid + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    })
                }
            }
            const todotodoCheckboxes = document.querySelectorAll('.todo-check-completed');
            for (i = 0; i < todoCheckboxes.length; i++) {
                const checkbox = todoCheckboxes[i];
                checkbox.onchange = function(e) {
                    // console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoid = e.target.dataset["id"];
                    fetch('/todos/' + todoid + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    })
                }
            }
            const nameInput = document.getElementById('name')
            document.getElementById('lists-form').onsubmit = function(e) {
                e.preventDefault();
                const name = nameInput.value;
                nameInput.value = '';
                fetch('http://localhost:5000/lists/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': name,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(jsonResponse => {
                    console.log('response', jsonResponse);
                    li = document.createElement('li');
                    li.innerText = name;
                    document.getElementById('lists').appendChild(li);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
            const descInput = document.getElementById('description');
            document.getElementById('todos-form').onsubmit = function(e) {
                e.preventDefault();
                const desc = descInput.value;
                descInput.value = '';
                fetch('http://localhost:5000/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': desc,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(jsonResponse => {
                    console.log('response', jsonResponse);
                    li = document.createElement('li');
                    li.innerText = desc;
                    document.getElementById('todos').appendChild(li);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        </script>
    </body>
</html>
